@import '../../styles/variable.less';

.d-button{
  cursor: pointer;
  background: white;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #d9d9d9;
  padding: 0 15px;
  height: 32px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect, 0.4s, cubic-bezier(0.08, 0.82, 0.17, 1);

  margin-right: @mgd;
}

.d-button:hover{
  border-color: #40a9ff;
  color: #40a9ff;
}

.d-button:active{
  border-color: #40a9ff;
  color: #40a9ff;
}

.d-button:focus{
  border-color: #40a9ff;
  color: #40a9ff;
}

// 只要原生的 button 这个标签的属性为 disabled 就会触发
// 这样的话，和原生 button 的 disabled 属性保持一致
.d-button[disabled]{
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  border-color: #d9d9d9;
}

// type 设置为 primary 的时候样式
.d-button-type-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

// type 设置为 primary 的时候鼠标悬浮样式
.d-button-type-primary:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

// type 设置为 primary 的时候 focus 样式
.d-button-type-primary:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

// type 设置为 primary 的时候 active 样式
.d-button-type-primary:active {
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9;
}

// type 设置为 dashed 的时候样式
.d-button-type-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}

// type 设置为 dashed 的时候鼠标悬浮样式
.d-button-type-dashed:hover {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}

// type 设置为 dashed 的时候 focus 样式
.d-button-type-dashed:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}

// type 设置为 dashed 的时候 active 样式
.d-button-type-dashed:active {
  color: #096dd9;
  background-color: #fff;
  border-color: #096dd9;
}

// type 设置为 danger 的时候样式
.d-button-type-danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

// type 设置为 danger 的时候鼠标悬浮样式
.d-button-type-danger:hover {
  color: #fff;
  background-color: #ff7875;
  border-color: #ff7875;
}

// type 设置为 danger 的时候 focus 样式
.d-button-type-danger:focus {
  color: #fff;
  background-color: #ff7875;
  border-color: #ff7875;
}

// type 设置为 danger 的时候 active 样式
.d-button-type-danger:active {
  color: #fff;
  background-color: #d9363e;
  border-color: #d9363e;
}

// type 设置为 link 的时候样式
.d-button-type-link {
  color: #1890ff;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

// type 设置为 link 的时候鼠标悬浮样式
.d-button-type-link:hover {
  color: #40a9ff;
  background-color: transparent;
  border-color: transparent;
}

// type 设置为 link 的时候 focus 样式
.d-button-type-link:focus {
  color: #40a9ff;
  background-color: transparent;
  border-color: transparent;
}

// type 设置为 link 的时候 active 样式
.d-button-type-link:active {
  color: #096dd9;
  background-color: transparent;
  border-color: transparent;
}

// shape 设置为 round 的时候样式
.d-button-shape-round{
  height: 32px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 32px;
}

// shape 设置为 circle 的时候样式
.d-button-shape-circle{
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  // 解决了 antd circle 属性的时候文字溢出
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// loading 设置为 true 的时候样式
.d-button-loading{
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}

// size 设置为 small 的时候样式
.d-button-size-sm{
  height: 24px;
  line-height: 22px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
}

// size 设置为 large 的时候样式
.d-button-size-lg{
  height: 40px;
  line-height: 38px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
}

// size 为 large 且 shape 为 circle 的时候样式
.d-button-shape-circle.d-button-size-lg{
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  border-radius: 50%;
}

// size 为 small 且 shape 为 circle 的时候样式
.d-button-shape-circle.d-button-size-sm{
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
}

// size 为 large 且 shape 为 round 的时候样式
.d-button-shape-round.d-button-size-lg{
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 40px;
}

// size 为 small 且 shape 为 round 的时候样式
.d-button-shape-round.d-button-size-sm{
  height: 24px;
  padding: 0 12px;
  font-size: 14px;
  border-radius: 24px;
}

// type 为 link 且 shape 为 circle 的时候样式(不限制溢出)
// 不要后面两个是因为 图标和文字不在同一行
// 需要把 white-space 设置为 nowrap
.d-button-type-link.d-button-shape-circle{
  overflow: unset!important;
  // text-overflow: unset!important;
  // white-space: unset!important;
}

// ghost 设置为 true 的时候样式
.d-button-ghost{
  color: #fff;
  background: transparent !important;
  border-color: #fff;
  text-shadow: none;
}

// block 设置为 true 的时候样式
.d-button-block{
  width: 100%;
}

// 设置 href 属性的时候，a 标签表现为的性状
a{
  line-height: 30px;
}

.mgr-5{
  margin-right: 5px;
}

